<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tomatow 磁力搜索</title>
    <meta name="keywords" content="magnetic,tomatow,番茄web,番茄,磁力链接,种子站,种子,小电影,电影,豆瓣,搜索" />
    <meta name="description" content="tomatow.top 磁力链接搜索引擎" />

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href=" {{ url_for('static', filename='styles/reset.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='styles/essential.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='styles/homepage.css') }} ">
    <!-- <script src="script.js"></script> -->
</head>
<body>
<main>
    <div><b>tomato<sup>w</sup></b>&#8203;<sub>(pre-alpha)</sub></div>
    <form action="/torrents?lr={{ "zh" if not _lr or _lr == 'zh' else "en" }}" method="get" autocomplete="off" role="search">
        <input type="search" name="search" placeholder="输入关键字, 按回车搜索磁力链接" autofocus>
    </form>
</main>


<footer>
    <div id="hottag">
        热门搜索词:
        {% for tag in hot_tag %}
        <a href="/torrents?search={{ tag }}&lr={{ "zh" if not _lr or _lr == 'zh' else "en" }}">{{ tag }}</a> 
        {% endfor %}
        <br />
        番茄系列:
        <a href="http://tomatow.top/novel">番茄小说阅读    </a> 
        <br />
        中英搜索切换:           
        <a  style="float:right"  href="/search?lr={{ "en" if not _lr or _lr == 'zh' else "zh" }}">
            <span class="glyphicon glyphicon-transfer"></span>切换: {{ "en" if not _lr or _lr == 'zh' else "zh" }}
        </a>
        <br />
    </div>
    ~{{ "{:,}".format(n_torrents) }} torrents available (see the <a href="/statistics">statistics</a>).
</footer>
</body>
</html>
