<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>tomatow</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='styles/reset.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='styles/essential.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='styles/homepage.css') }} ">
    <!-- <script src="script.js"></script> -->
</head>
<body>
<main>
    <div><b>tomato<sup>w</sup></b>&#8203;<sub>(pre-alpha)</sub></div>
    <form action="/torrents" method="get" autocomplete="off" role="search">
        <input type="search" name="search" placeholder="Search the BitTorrent DHT" autofocus>
    </form>
</main>


<footer>
    <div id="hottag">
        热门搜索词:
        <a href="torrents/?search=学生">学生</a> 
        <a href="torrents/?search=美女">美女</a> 
        <a href="torrents/?search=国产">国产</a> 
        <a href="torrents/?search=纪录片">纪录片</a> 
        <a href="torrents/?search=蓝色星球">蓝色星球</a> 
        <a href="torrents/?search=至暗时刻">至暗时刻</a> 
        <br /><br />
    </div>

    ~{{ "{:,}".format(n_torrents) }} torrents available (see the <a href="/statistics">statistics</a>).
</footer>
</body>
</html>
