<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>番茄磁力搜索打赏</title>
    <meta name="keywords" content="magnetic,tomatow,番茄web,番茄,磁力链接,种子,小电影,电影,豆瓣,搜索" />
    <meta name="description" content="番茄磁力链接搜索引擎" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href=" {{ url_for('static', filename='styles/reset.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='styles/essential.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='styles/homepage.css') }} ">
    <!-- <script src="script.js"></script> -->
</head>

<body>
    <main>
        <div class="red-package xa-view">
            <img class="img" src="static/redpack.png" alt="网店红包">
        </div>
    </main>


    <footer>
        <div id="redpack">
            ~领取支付宝红包: 表妹能获得0.3元打赏，用于支付租用服务器费用。每天都可领取哦~
        </div>
    </footer>
</body>

</html>
